/* inika-regular - latin */
@font-face {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #636060;
  }

/* Header style start */

  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }

  .header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 42px;
  }

  .header-logo-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .header-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .header-item {
    margin-right: 46px;
  }

  .header-item:last-child {
    margin-right: 0;
  }

  .header-link {
    font-family: 'Inika';
    font-style: normal;
    line-height: 50px;
    color: #010201;
    text-decoration: none;
  }
  .header-link:hover, .header-link:focus, .header-link:active {
    opacity: 80%;
  }

  .home {
    color: #E06733;
  }

  .header-logo-text {
    font-family: 'Inika';
    line-height: 21px;
    color: #000000;
    text-decoration: none;
    margin: 0;
    margin-left: 1px;
  }

  .header-logo-pic {
    width: 20px;
    height: 20px;
  }

  .header-logo {
    width: 20px;
    height: 20px;
    margin-bottom: 7px;
  }

  /* Header style end */
